In [1]:
from pymongo import MongoClient
import pandas as pd
import os
import pathlib
from dotenv import load_dotenv
import datetime
from fredapi import Fred

env_path = pathlib.Path('..') / '.env'
load_dotenv(dotenv_path=env_path)
FRED_API_KEY = os.getenv("FRED_API_KEY")
fred = Fred(api_key=FRED_API_KEY)


client = MongoClient('localhost', 27017)
db = client.project2_db
collection = db.project2_collection

# Define your series dictionary, start and end dates as before
series_dict = {
    'bonds2tr': ('DGS2', 'D'),
    'gdpworld': ('NYGDPMKTPCDWLD', 'A'),
    'gdp': ('GDP', 'Q'),
    'recession': ('JHDUSRGDPBR', 'Q'),
    'bonds10tr': ('DGS10', 'D'),
    'ppi': ('PPIACO', 'M'),
    'cpi': ('CPIAUCSL', 'M'),
    'unrate': ('UNRATE', 'M'),
    'debt': ('GFDEBTN', 'Q'),
    'fedrate': ('FEDFUNDS', 'M'),
    'm0': ('BOGMBASE', 'M'),
    'm3': ('MABMM301USM189S', 'M'),
    'cbasstogdp': ('DDDI06USA156NWDB', 'A'),
    'resins': ('TOTRESNS', 'M'),
    'oil': ('WTISPLC', 'M'),
    'indpro': ('INDPRO', 'M'),
    'houses': ('MSPUS', 'Q'),
    'wages': ('AHETPI', 'M'),
    'cp': ('CP', 'Q'),
    'fed_debt_to_gdp': ('GFDGDPA188S', 'A')
}

# Initialize DataFrames
dfs = {'D': pd.DataFrame(), 'M': pd.DataFrame(), 'Q': pd.DataFrame(), 'A': pd.DataFrame()}


def fetch_data(df, var_name, series_id):
    series_data = fred.get_series(series_id)
    series_df = series_data.to_frame(name=var_name)
    series_df.index.name = 'date'
    return df.join(series_df, how='outer') if not df.empty else series_df


for var_name, (series_id, freq) in series_dict.items():
    dfs[freq] = fetch_data(dfs[freq], var_name, series_id)

dfs

{'D':             bonds2tr  bonds10tr
 date
 1962-01-02       NaN       4.06
 1962-01-03       NaN       4.03
 1962-01-04       NaN       3.99
 1962-01-05       NaN       4.02
 1962-01-08       NaN       4.03
 ...              ...        ...
 2024-05-23      4.91       4.47
 2024-05-24      4.93       4.46
 2024-05-27       NaN        NaN
 2024-05-28      4.94       4.54
 2024-05-29      4.96       4.61

 [16282 rows x 2 columns],
 'M':                 ppi      cpi  unrate  fedrate         m0  m3  resins    oil
 date
 1913-01-01   12.100      NaN     NaN      NaN        NaN NaN     NaN    NaN  \
 1913-02-01   12.000      NaN     NaN      NaN        NaN NaN     NaN    NaN
 1913-03-01   12.000      NaN     NaN      NaN        NaN NaN     NaN    NaN
 1913-04-01   12.000      NaN     NaN      NaN        NaN NaN     NaN    NaN
 1913-05-01   11.900      NaN     NaN      NaN        NaN NaN     NaN    NaN
 ...             ...      ...     ...      ...        ...  ..     ...    ...
 2023-12-01  249.866  308.742     3.7     5.33  5827400.0 NaN  3492.0  71.90
 2024-01-01  251.245  309.685     3.7     5.33  5843700.0 NaN  3507.0  74.15
 2024-02-01  254.840  311.054     3.9     5.33  5896900.0 NaN  3567.7  77.25
 2024-03-01  254.995  312.230     3.8     5.33  5883000.0 NaN  3543.1  81.28
 2024-04-01  257.234  313.207     3.9     5.33  5775200.0 NaN  3429.5  85.35

               indpro  wages
 date
 1913-01-01       NaN    NaN
 1913-02-01       NaN    NaN
 1913-03-01       NaN    NaN
 1913-04-01       NaN    NaN
 1913-05-01       NaN    NaN
 ...              ...    ...
 2023-12-01  102.5743  29.51
 2024-01-01  101.7987  29.64
 2024-02-01  102.6317  29.70
 2024-03-01  102.7562  29.77
 2024-04-01  102.7623  29.83

 [1336 rows x 10 columns],
 'Q':                   gdp  recession        debt    houses        cp
 date
 1946-01-01        NaN        NaN         NaN       NaN       NaN
 1946-04-01        NaN        NaN         NaN       NaN       NaN
 1946-07-01        NaN        NaN         NaN       NaN       NaN
 1946-10-01        NaN        NaN         NaN       NaN       NaN
 1947-01-01    243.164        NaN         NaN       NaN    21.970
 ...               ...        ...         ...       ...       ...
 2023-01-01  26813.601        0.0  31458438.0  429000.0  2881.042
 2023-04-01  27063.012        0.0  32332274.0  418500.0  2902.860
 2023-07-01  27610.128        0.0  33167334.0  435400.0  3017.805
 2023-10-01  27956.998        0.0  34001494.0  423200.0  3096.319
 2024-01-01  28255.928        NaN         NaN  420800.0  3194.580

 [313 rows x 5 columns],
 'A':                 gdpworld  cbasstogdp  fed_debt_to_gdp
 date
 1939-01-01           NaN         NaN         51.58556
 1940-01-01           NaN         NaN         49.27162
 1941-01-01           NaN         NaN         44.46713
 1942-01-01           NaN         NaN         47.72464
 1943-01-01           NaN         NaN         70.21725
 ...                  ...         ...              ...
 2019-01-01  8.777740e+13    10.92080        105.33471
 2020-01-01  8.527268e+13    22.46667        126.16688
 2021-01-01  9.715318e+13    24.60187        120.30839
 2022-01-01  1.008796e+14         NaN        119.78896
 2023-01-01           NaN         NaN        120.56971

 [85 rows x 3 columns]}

In [5]:
df = {}
df['D_M'] = dfs['D'].resample('M').last()
df['M_M'] = dfs['M'].resample('M').last()
df['Q_M'] = dfs['Q'].resample('M').ffill()
# new_dates = pd.date_range(
#     start=df['Q_M'].index.min(), end='2022-12-31', freq='M')
# df['Q_M'] = df['Q_M'].reindex(new_dates).ffill()
df['A_M'] = dfs['A'].resample('M').ffill()
df

{'D_M':             bonds2tr  bonds10tr
 date
 1962-01-31       NaN       4.10
 1962-02-28       NaN       4.00
 1962-03-31       NaN       3.86
 1962-04-30       NaN       3.86
 1962-05-31       NaN       3.90
 ...              ...        ...
 2024-01-31      4.27       3.99
 2024-02-29      4.64       4.25
 2024-03-31      4.59       4.20
 2024-04-30      5.04       4.69
 2024-05-31      4.96       4.61

 [749 rows x 2 columns],
 'M_M':                 ppi      cpi  unrate  fedrate         m0  m3  resins    oil
 date
 1913-01-31   12.100      NaN     NaN      NaN        NaN NaN     NaN    NaN  \
 1913-02-28   12.000      NaN     NaN      NaN        NaN NaN     NaN    NaN
 1913-03-31   12.000      NaN     NaN      NaN        NaN NaN     NaN    NaN
 1913-04-30   12.000      NaN     NaN      NaN        NaN NaN     NaN    NaN
 1913-05-31   11.900      NaN     NaN      NaN        NaN NaN     NaN    NaN
 ...             ...      ...     ...      ...        ...  ..     ...    ...
 2023-12-31  249.866  308.742     3.7     5.33  5827400.0 NaN  3492.0  71.90
 2024-01-31  251.245  309.685     3.7     5.33  5843700.0 NaN  3507.0  74.15
 2024-02-29  254.840  311.054     3.9     5.33  5896900.0 NaN  3567.7  77.25
 2024-03-31  254.995  312.230     3.8     5.33  5883000.0 NaN  3543.1  81.28
 2024-04-30  257.234  313.207     3.9     5.33  5775200.0 NaN  3429.5  85.35

               indpro  wages
 date
 1913-01-31       NaN    NaN
 1913-02-28       NaN    NaN
 1913-03-31       NaN    NaN
 1913-04-30       NaN    NaN
 1913-05-31       NaN    NaN
 ...              ...    ...
 2023-12-31  102.5743  29.51
 2024-01-31  101.7987  29.64
 2024-02-29  102.6317  29.70
 2024-03-31  102.7562  29.77
 2024-04-30  102.7623  29.83

 [1336 rows x 10 columns],
 'Q_M':                   gdp  recession        debt    houses        cp
 date
 1946-01-31        NaN        NaN         NaN       NaN       NaN
 1946-02-28        NaN        NaN         NaN       NaN       NaN
 1946-03-31        NaN        NaN         NaN       NaN       NaN
 1946-04-30        NaN        NaN         NaN       NaN       NaN
 1946-05-31        NaN        NaN         NaN       NaN       NaN
 ...               ...        ...         ...       ...       ...
 2023-09-30  27610.128        0.0  33167334.0  435400.0  3017.805
 2023-10-31  27956.998        0.0  34001494.0  423200.0  3096.319
 2023-11-30  27956.998        0.0  34001494.0  423200.0  3096.319
 2023-12-31  27956.998        0.0  34001494.0  423200.0  3096.319
 2024-01-31  28255.928        NaN         NaN  420800.0  3194.580

 [937 rows x 5 columns],
 'A_M':                 gdpworld  cbasstogdp  fed_debt_to_gdp
 date
 1939-01-31           NaN         NaN         51.58556
 1939-02-28           NaN         NaN         51.58556
 1939-03-31           NaN         NaN         51.58556
 1939-04-30           NaN         NaN         51.58556
 1939-05-31           NaN         NaN         51.58556
 ...                  ...         ...              ...
 2022-09-30  1.008796e+14         NaN        119.78896
 2022-10-31  1.008796e+14         NaN        119.78896
 2022-11-30  1.008796e+14         NaN        119.78896
 2022-12-31  1.008796e+14         NaN        119.78896
 2023-01-31           NaN         NaN        120.56971

 [1009 rows x 3 columns]}

In [6]:
data = pd.concat([df['D_M'], df['M_M'], df['Q_M'], df['A_M']], axis=1)
# data = data.loc['1970-01-01':]
data.head(5)

,bonds2tr,bonds10tr,ppi,cpi,unrate,fedrate,m0,m3,resins,oil,indpro,wages,gdp,recession,debt,houses,cp,gdpworld,cbasstogdp,fed_debt_to_gdp
date,,,,,,,,,,,,,,,,,,,,
1913-01-31,NaN,NaN,12.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1913-02-28,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1913-03-31,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1913-04-30,NaN,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1913-05-31,NaN,NaN,11.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data['wages_month'] = round(data['wages'] * 168, 2)
data['house_wages'] = round(data['houses']/data['wages_month'], 2)
data['iyc'] = round(data['bonds10tr'] - data['bonds2tr'], 2)
data['gdp_pct'] = round(data['gdp'].pct_change(periods=4) * 100, 2)
data['gdp_pct_ma4'] = round(data['gdp_pct'].rolling(window=4).mean(), 2)
data['gdpworld_pct'] = round(data['gdpworld'].pct_change(12) * 100, 2)
data['debt_to_gdp'] = round(100 * data['debt'] / data['gdp']/1000, 2)
data['resins_to_gdp'] = round(100 * data['resins'] / data['gdp'], 2)
data['cp_to_gdp'] = round(100 * data['cp'] / data['gdp'], 2)
data['m0_to_gdp'] = round(data['m0'] / data['gdp']/1000 * 100, 2)
data['m3_to_gdp'] = round((data['m3']/1000000) / data['gdp']/1000 * 100, 2)
data['cpi_pct'] = round(data['cpi'].pct_change(periods=12) * 100, 2)
data['ppi_pct'] = round(data['ppi'].pct_change(periods=12) * 100, 2)
data['cbasstogdp'] = round(data['cbasstogdp'], 2)
data['indpro'] = round(data['indpro'], 2)
data['oil'] = round(data['oil'], 2)
data[[ 'gdp_pct', 'gdp_pct_ma4', 'gdpworld', 'ppi', 'resins_to_gdp', 'cp_to_gdp']].tail(15)
data

,bonds2tr,bonds10tr,ppi,cpi,unrate,fedrate,m0,m3,resins,oil,...,gdp_pct,gdp_pct_ma4,gdpworld_pct,debt_to_gdp,resins_to_gdp,cp_to_gdp,m0_to_gdp,m3_to_gdp,cpi_pct,ppi_pct
date,,,,,,,,,,,,,,,,,,,,,
1913-01-31,NaN,NaN,12.100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1913-02-28,NaN,NaN,12.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1913-03-31,NaN,NaN,12.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1913-04-30,NaN,NaN,12.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1913-05-31,NaN,NaN,11.900,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-31,4.27,3.99,251.245,309.685,3.7,5.33,5843700.0,NaN,3507.0,74.15,...,2.34,2.04,0.0,NaN,12.41,11.31,20.68,NaN,3.11,-3.45
2024-02-29,4.64,4.25,254.840,311.054,3.9,5.33,5896900.0,NaN,3567.7,77.25,...,1.07,1.48,0.0,NaN,NaN,NaN,NaN,NaN,3.17,-1.48
2024-03-31,4.59,4.20,254.995,312.230,3.8,5.33,5883000.0,NaN,3543.1,81.28,...,1.07,1.44,0.0,NaN,NaN,NaN,NaN,NaN,3.48,-0.80
2024-04-30,5.04,4.69,257.234,313.207,3.9,5.33,5775200.0,NaN,3429.5,85.35,...,1.07,1.39,0.0,NaN,NaN,NaN,NaN,NaN,3.36,0.13
2024-05-31,4.96,4.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.80,0.0,NaN,NaN,NaN,NaN,NaN,3.24,1.40

In [8]:
data.index.name = 'date'
data = data.reset_index()

data_to_insert = data.to_dict(orient='records')
collection.insert_many(data_to_insert)

ServerSelectionTimeoutError: localhost:27017: [WinError 10061] No connection could be made because the target machine actively refused it, Timeout: 30s, Topology Description: <TopologyDescription id: 665a27bc08b364bc172269b3, topology_type: Unknown, servers: [<ServerDescription ('localhost', 27017) server_type: Unknown, rtt: None, error=AutoReconnect('localhost:27017: [WinError 10061] No connection could be made because the target machine actively refused it')>]>