In [14]:
from pymongo import MongoClient
import pandas as pd
import os
import pathlib
from dotenv import load_dotenv
import datetime
from fredapi import Fred

env_path = pathlib.Path('..') / '.env'
load_dotenv(dotenv_path=env_path)
FRED_API_KEY = os.getenv("FRED_API_KEY")x
fred = Fred(api_key=FRED_API_KEY)


client = MongoClient('localhost', 27017)
db = client.project2_db
collection = db.project2_collection

# Define your series dictionary, start and end dates as before
series_dict = {
    'bonds2tr': ('DGS2', 'D'),
    'gdpworld': ('NYGDPMKTPCDWLD', 'A'),
    'gdp': ('GDP', 'Q'),
    'recession': ('JHDUSRGDPBR', 'Q'),
    'bonds10tr': ('DGS10', 'D'),
    'ppi': ('PPIACO', 'M'),
    'cpi': ('CPIAUCSL', 'M'),
    'unrate': ('UNRATE', 'M'),
    'debt': ('GFDEBTN', 'Q'),
    'fedrate': ('FEDFUNDS', 'M'),
    'm0': ('BOGMBASE', 'M'),
    'm3': ('MABMM301USM189S', 'M'),
    'cbasstogdp': ('DDDI06USA156NWDB', 'A'),
    'resins': ('TOTRESNS', 'M'),
    'oil': ('WTISPLC', 'M'),
    'indpro': ('INDPRO', 'M'),
    'houses': ('MSPUS', 'Q'),
    'wages': ('AHETPI', 'M'),
    'cp': ('CP', 'Q')
}

# Initialize DataFrames
dfs = {'D': pd.DataFrame(), 'M': pd.DataFrame(), 'Q': pd.DataFrame(), 'A': pd.DataFrame()}


def fetch_data(df, var_name, series_id):
    series_data = fred.get_series(series_id)
    series_df = series_data.to_frame(name=var_name)
    series_df.index.name = 'date'
    return df.join(series_df, how='outer') if not df.empty else series_df


for var_name, (series_id, freq) in series_dict.items():
    dfs[freq] = fetch_data(dfs[freq], var_name, series_id)

dfs

SyntaxError: invalid syntax (3978664324.py, line 11)

In [15]:
df = {}
df['D_M'] = dfs['D'].resample('M').last()
df['M_M'] = dfs['M'].resample('M').last()
df['Q_M'] = dfs['Q'].resample('M').ffill()
# new_dates = pd.date_range(
#     start=df['Q_M'].index.min(), end='2022-12-31', freq='M')
# df['Q_M'] = df['Q_M'].reindex(new_dates).ffill()
df['A_M'] = dfs['A'].resample('M').ffill()
# data.tail()

In [16]:
data = pd.concat([df['D_M'], df['M_M'], df['Q_M'], df['A_M']], axis=1)
data = data.loc['1970-01-01':]
data.head(5)

,bonds2tr,bonds10tr,ppi,cpi,unrate,fedrate,m0,m3,resins,oil,indpro,wages,gdp,recession,debt,houses,cp,gdpworld,cbasstogdp
date,,,,,,,,,,,,,,,,,,,
1970-01-31,NaN,7.75,36.5,37.9,3.9,8.98,76400.0,5.896000e+11,28.9,3.35,37.9372,3.31,1051.200,1.0,372007.0,23900.0,55.323,3.009970e+12,5.69662
1970-02-28,NaN,6.90,36.7,38.1,4.2,8.98,75200.0,5.863000e+11,27.9,3.35,37.9122,3.33,1051.200,1.0,372007.0,23900.0,55.323,3.009970e+12,5.69662
1970-03-31,NaN,7.08,36.7,38.3,4.4,7.76,75300.0,5.873000e+11,27.5,3.35,37.8630,3.36,1051.200,1.0,372007.0,23900.0,55.323,3.009970e+12,5.69662
1970-04-30,NaN,7.82,36.8,38.5,4.6,8.10,76300.0,5.884000e+11,28.1,3.35,37.7656,3.36,1067.375,1.0,370094.0,24400.0,55.194,3.009970e+12,5.69662
1970-05-31,NaN,7.95,36.8,38.6,4.8,7.95,76600.0,5.915000e+11,27.9,3.35,37.7216,3.37,1067.375,1.0,370094.0,24400.0,55.194,3.009970e+12,5.69662

In [17]:
data['wages_month'] = round(data['wages'] * 168, 2)
data['house_wages'] = round(data['houses']/data['wages_month'], 2)
data['iyc'] = round(data['bonds10tr'] - data['bonds2tr'], 2)
data['gdp_pct'] = round(data['gdp'].pct_change(periods=4) * 100, 2)
data['gdp_pct_ma4'] = round(data['gdp_pct'].rolling(window=4).mean(), 2)
data['gdpworld_pct'] = round(data['gdpworld'].pct_change(12) * 100, 2)
data['debt_to_gdp'] = round(100 * data['debt'] / data['gdp']/1000, 2)
data['resins_to_gdp'] = round(100 * data['resins'] / data['gdp'], 2)
data['cp_to_gdp'] = round(100 * data['cp'] / data['gdp'], 2)
data['m0_to_gdp'] = round(data['m0'] / data['gdp']/1000 * 100, 2)
data['m3_to_gdp'] = round((data['m3']/1000000) / data['gdp']/1000 * 100, 2)
data['cpi_pct'] = round(data['cpi'].pct_change(periods=12) * 100, 2)
data['ppi_pct'] = round(data['ppi'].pct_change(periods=12) * 100, 2)
data['cbasstogdp'] = round(data['cbasstogdp'], 2)
data['indpro'] = round(data['indpro'], 2)
data['oil'] = round(data['oil'], 2)
data[[ 'gdp_pct', 'gdp_pct_ma4', 'gdpworld', 'ppi', 'resins_to_gdp', 'cp_to_gdp']].tail(15)
data

,bonds2tr,bonds10tr,ppi,cpi,unrate,fedrate,m0,m3,resins,oil,...,gdp_pct,gdp_pct_ma4,gdpworld_pct,debt_to_gdp,resins_to_gdp,cp_to_gdp,m0_to_gdp,m3_to_gdp,cpi_pct,ppi_pct
date,,,,,,,,,,,,,,,,,,,,,
1970-01-31,NaN,7.75,36.500,37.900,3.9,8.98,76400.0,5.896000e+11,28.9,3.35,...,NaN,NaN,NaN,35.39,2.75,5.26,7.27,56.09,NaN,NaN
1970-02-28,NaN,6.90,36.700,38.100,4.2,8.98,75200.0,5.863000e+11,27.9,3.35,...,NaN,NaN,NaN,35.39,2.65,5.26,7.15,55.77,NaN,NaN
1970-03-31,NaN,7.08,36.700,38.300,4.4,7.76,75300.0,5.873000e+11,27.5,3.35,...,NaN,NaN,NaN,35.39,2.62,5.26,7.16,55.87,NaN,NaN
1970-04-30,NaN,7.82,36.800,38.500,4.6,8.10,76300.0,5.884000e+11,28.1,3.35,...,NaN,NaN,NaN,34.67,2.63,5.17,7.15,55.13,NaN,NaN
1970-05-31,NaN,7.95,36.800,38.600,4.8,7.95,76600.0,5.915000e+11,27.9,3.35,...,1.54,NaN,NaN,34.67,2.61,5.17,7.18,55.42,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-30,5.03,4.59,258.859,307.481,3.8,5.33,5567300.0,2.075530e+13,3239.6,89.43,...,2.02,1.98,0.0,120.13,11.73,10.93,20.16,75.17,3.69,-3.37
2023-10-31,5.07,4.88,255.042,307.619,3.8,5.33,5601300.0,2.072560e+13,3276.5,85.64,...,3.24,2.56,0.0,NaN,11.73,NaN,20.05,74.18,3.23,-3.78
2023-11-30,4.73,4.37,252.843,307.917,3.7,5.33,5731500.0,2.076740e+13,3403.5,77.69,...,1.19,2.12,0.0,NaN,NaN,NaN,NaN,NaN,3.12,-3.92
2023-12-31,4.23,3.88,249.589,308.850,3.7,5.33,5827200.0,NaN,3491.8,71.90,...,1.19,1.91,0.0,NaN,NaN,NaN,NaN,NaN,3.30,-3.22
2024-01-31,4.27,3.99,NaN,NaN,3.7,5.33,NaN,NaN,NaN,NaN,...,1.19,1.70,0.0,NaN,NaN,NaN,NaN,NaN,2.77,-4.09

In [20]:
data.index.name = 'date'
data = data.reset_index()

data_to_insert = data.to_dict(orient='records')
collection.insert_many(data_to_insert)

ValueError: cannot insert date, already exists